aiohttp==3.8.3
aiohttp-cors==0.7.0
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
algoliasearch==2.6.2
anyio @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-t_zs64wy/anyio_1644482593257/work/dist
async-generator==1.10
async-timeout @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_19fv27ehgp/croots/recipe/async-timeout_1664876371666/work
attrs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_978y9aqcd7/croot/attrs_1668696180911/work
autopep8 @ file:///opt/conda/conda-bld/autopep8_1650463822033/work
beautifulsoup4 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-15cbtalq/beautifulsoup4_1650462161715/work
brotlipy==0.7.0
cachetools==5.2.0
certifi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5d968ni_yn/croot/certifi_1671487774636/work/certifi
cffi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f9af_qffaa/croots/recipe/cffi_1659598650277/work
chardet==5.0.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_20erp7jjos/croot/cryptography_1665612656373/work
docutils==0.19
exceptiongroup==1.1.1
filetype==1.2.0
Flask==2.0.1
frozenlist @ file:///Users/ktietz/ci_310/frozenlist_1643965854417/work
google-api-core==2.10.2
google-api-python-client==2.65.0
google-auth==2.14.0
google-auth-httplib2==0.1.0
google-cloud-appengine-logging==1.1.6
google-cloud-audit-log==0.2.4
google-cloud-core @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4dvg8_ts99/croot/google-cloud-core_1666887729834/work
google-cloud-firestore==2.7.2
google-cloud-logging==3.2.5
google-cloud-storage==2.5.0
google-crc32c @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e4et7yvu0i/croot/google-crc32c_1667946625563/work
google-resumable-media @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_79mtsuw9qk/croot/google-resumable-media_1668208107301/work
googleapis-common-protos @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e8egsp0iq1/croots/recipe/googleapis-common-protos-feedstock_1660256159644/work
grpc-google-iam-v1==0.12.4
grpcio==1.50.0
grpcio-status==1.48.2
h11 @ file:///tmp/build/80754af9/h11_1620423447028/work
h2 @ file:///Users/ktietz/ci_310/h2_1643970467694/work
hpack==4.0.0
httpcore @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0djazlpb4i/croots/recipe/httpcore_1659344184503/work
httplib2==0.21.0
httpx @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_9a717jugq3/croots/recipe/httpx_1659460921880/work
hyperframe==6.0.1
idna @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_771olrhiqw/croot/idna_1666125579282/work
idna-ssl==1.1.0
iso8601==1.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
lxml @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_71bcfe2b-fe7b-414a-9d7e-4f32bdd95f6d2vxca0jd/croots/recipe/lxml_1657545136492/work
MarkupSafe==2.1.1
multidict @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_bd3x0mcjpv/croot/multidict_1665674237951/work
netifaces==0.11.0
nltk==3.8.1
ntplib==0.4.0
oauth2client==4.1.3
outcome==1.2.0
packaging==23.0
phonenumbers==8.12.57
Pillow==9.3.0
proto-plus==1.22.1
protobuf==3.20.3
psutil==5.9.3
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycodestyle @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5b2mq44vl0/croot/pycodestyle_1674267228581/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyJWT==2.6.0
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
PySocks @ file:///Users/ktietz/ci_310/pysocks_1643961536721/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==0.21.0
pytz==2022.1
regex==2023.3.23
requests==2.27.1
rfc3986 @ file:///Users/ktietz/demo/mc3/conda-bld/rfc3986_1629478296451/work
rsa==4.9
Rx==3.2.0
selenium==4.8.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///Users/ktietz/ci_310/sniffio_1643964335533/work
sortedcontainers==2.4.0
soupsieve @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d2jpk7eoyp/croot/soupsieve_1666296398381/work
tcd==3.2.2
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.10.2
twitch-python==0.0.20
twitchio==2.5.0
typing_extensions==4.4.0
unittest-xml-reporting==3.2.0
uritemplate==4.1.1
urllib3==1.26.15
uvloop==0.17.0
webdriver-manager==3.8.5
websocket-client==1.4.1
Werkzeug==2.2.2
wsproto==1.2.0
yarl @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a5sx8bz_hq/croots/recipe/yarl_1661437083380/work
